*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #28a745;
  --secondary-color: white;
  --background-color: #333;
  --border-color-1: black;
  --border-color-2: black;
  --border-radius-main: 15px;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/*Header*/

header {
  height: 50px;
  width: 100vw;
  background-color: var(--primary-color);
  border: 5px solid black;
  border-radius: 25px;
}

.currentDay {
  text-align: center;
  color: white;
}

/*Main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Carousel*/

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-top: 1rem;
  gap: 1rem;
}

.carousel-card {
  height: 300px;
  width: 250px;
  background-color: var(--secondary-color);
  border: 5px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}

.card0-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}

.card0-list-desc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card0-list {
  width: 100%;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  border: 1px solid black;
}
.card0-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.5rem;
}

/*Import-Export Area*/

.import-export {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  width: 30vw;
}

/*StopWatch*/

.stopwatch {
  margin-top: 2rem;
  padding: 15px;
  height: 400px;
  width: 70vw;
  max-width: 600px;
  border: 5px solid black;
  border-radius: var(--border-radius-main);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1fr 1fr;
  grid-template-areas:
    "current-time current-time"
    "playPauseBtns sendInput";
}

.time-display {
  grid-area: current-time;
  margin: 5px;
  border: 5px solid var(--border-color-1);
  border-radius: var(--border-radius-main);
  background-color: var(--secondary-color);
  display: grid;
  place-items: center;
  font-size: 5rem;
}

.playPauseBtns {
  grid-area: playPauseBtns;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 19px;
}

.playPauseBtns p {
  color: var(--secondary-color);
}

/*StopWatch Send Form*/

.sendInput {
  grid-area: sendInput;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sendBtn {
  width: 100%;
}

.form-control {
  text-align: center;
}

.icon {
  height: 5rem;
  width: 5rem;
}

.invisible {
  visibility: hidden;
  position: absolute;
}

/* Other Options */

.other-options {
  margin: 15px;
  display: flex;
  gap: 15px;
}
